meta(property='og:title', content='line-reversibot')
meta(property='og:type', content='website')
meta(property='og:description', content='LINEで遊べるオセロのbot')
/*meta(property='og:url', content=homepage)*/
meta(property='og:image', content="{{url_for('static', filename='img/1040.png')}}")
meta(property='og:locale', content='ja_JP')
