header.header
  nav.navbar.navbar-light.bg-faded
    a(href="/").navbar-brand line-reversibot
    ul.nav.navbar-nav
      li.nav-item: a(href="/ranking").nav-link Ranking
      li.nav-item: a(href="https://github.com/naari3/line-reversibot").nav-link Github
